#arquetipos 
{
  	width: 408px;
  	height: 150px;
  	border: 1px solid #aaaaaa;
}
#formu
{
	width: 550px;
    height: 650px;
    border: 1px solid #aaaaaa;
}
#cuadroArras
{
	width: 408px;
  	height: 400px;
  	border: 1px solid #aaaaaa;
}

