#panel
{
	text-align: center;
	width: 35%;

}
#pad
{
	padding: 1.5%;
}
#login
{
	z-index: 1;
	position: absolute;
	width: 50%;
	height: 60%;
	top: 30%;
	left: 35%;
}

#arquetipos {       /*cambios al componente que contendran los arquetipos*/
    width: 85%;
    height: 150px;
    border: 1px solid #aaaaaa;
    overflow: scroll; /*agrega scroll al cuadro de arquetipos*/
}

#formu {        /*cambios al componente que contendra el formulario*/
    width: 100%;
    height: 650px;
    border: 1px solid #aaaaaa;
}

#cuadroArras {      /*dimensiones de cuadro para subir archivos en forma de arrastre */
    width: 200%;
}

.center {       /*configuracion para centrar*/
    margin: auto;
    padding: 10px;
}

#drop-zone {        /*dimensiones de cuadro para subir archivos*/
    width: 85%;
    height: 80%;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    font-family: Arial;
    text-align: center; 
    line-height: 700%;  /*separacion*/
    font-size: 90%;
    color: rgba(0, 0, 0, .3);
    background-color: rgba(239, 243, 243, 0.5);
    background-image: url("Assets/insert.png");
    background-repeat: no-repeat; /*quita el modo mosaico*/
    background-position-x: 70%;
    background-position-y: 85%;
    background-size: 25%;
}

#img-small {        /*tamaño imagenes*/
    width: 10%;
}

body {
    background-size: cover;
}

#menu {     /*cambios al componente de menu*/
    width: 85%;
    margin: auto;
    line-height: 50%;
    background-color: rgba(239, 243, 243, 0.5);
    padding-top: 1%;    /*limite superior*/
    padding-bottom: 1%;
    border-radius: 1%;
}

/*audio {   posible uso
    display: none;
}*/