<!--By: vicquiroz y DAngelc3 -->
<!--Styles By: Hawk-->
<!--Vue implementation by: DarAkus1420-->
<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" type="text/css" href="estilo.css">
   
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!--
    	funcion de arrastre hacia el formulario, sera implementada en vue mas adelante
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>-->
    
    <title>Editor ficha clinica</title>
	<!--instanciamos los componentes de vue -->
    <script src="VueJs/Vue.js"></script>
    <script src="js/ComponentsMenu/Tutorial.js"></script>
    <script src="js/ComponentsMenu/PlaceHolder.js"></script>
    <script src="js/ComponentsMenu/CargarArchivo.js"></script>
    <script src="js/ComponentsMenu/Formulario.js"></script>
    <script src="js/ComponentsMenu/SubirArchivo.js"></script>
    <script src="js/ComponentsMenu/Logeo.js"></script>
    


</head>

<body background="Assets/test.png">
    <div id="login">
        <div class="container">
            <div class="divcont">
                <h3>{{ title }}</h3>
                <form @submit.prevent="sendForm()">
                    <input type="email"  placeholder="Email" v-model="form.email">
                    <input type="password" v-if="form.type!=2" :class="{'error':validaPassword}" placeholder="Contraseña" v-model="form.password" >
                    <input type="password" v-if="form.type==1" :class="{'error':validaRepetirPassword}" placeholder="Repetir contraseña" v-model="form.passwordos" >
                    <button>Iniciar sesión</button>
                    <a href="javascript:void(0)" @click="form.type=2" v-if="form.type!=2" >Recuper contraseña</a>
                    <a href="javascript:void(0)" @click="form.type=1" v-if="form.type!=1" >Registrarme</a>
                    <a href="javascript:void(0)" @click="form.type=0" v-if="form.type!=0" >Iniciar sesión</a>
                </form>
            </div>
        </div>
    </div>
    
    <br>
    <!--aqui definiremos un gran div que sera nuestro "menu", es decir nuestra pagina principal
    	donde pondremos el formulario y todo lo demas-->
    <div id="menu">
    	
        <div class="container">
        	<!--aqui tenemos un boton con un signo de interrogacion, el cual mostrara un tutorial en pantalla, 
        		para que sea mas facil de entender para los usuarios-->
            <tutorial></tutorial>
        </div>
        <br>
        <div class="container">
            <!--Se muestran los formularios-->
            <formulario></formulario>
            <!--Es el placeholder-->
            <placeholder></placeholder>
        </div>
        <br>
        <div class="container ">
        	<!--Aqui esta el boton con el cual podremos subir el archivo a la base de datos-->
            <subirarchivo></subirarchivo>
        </div>
        <div class="container">
            <logeo></logeo>
            
            
        </div>
    </div>
    
    <!--llama al componente principal de vue-->
    <script src="js/login.js"></script>
    <script src="js/menu.js"></script>
</body>

</html>